:root {
  --blue: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

.logo img {
  display: block;
  height: 40px;
  width: 40px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 50px;
  margin-top: 0;
}

.header {
  display: flex;
  align-items: center;

  justify-content: space-between;

  width: 100%;
}

.nav {
  display: flex;

  align-items: center;
  justify-content: center;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  display: inline-flex;

  position: relative;

  text-decoration: none;

  height: 60px;

  color: black;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link.is-active {
  color: var(--blue);
}

/* Barra azul do link ativo */
.nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--blue);
  bottom: 0;
}

.nav__link:hover {
  color: var(--blue);
}
