:root {
  --blue: #00acdc;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

/* Header */

header {
  display: flex;

  align-items: center;

  justify-content: space-between;

  width: 100%;
}



.logo {
  margin: 0;

  margin-top: 0;
  margin-left: 50px;

}



.nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 50px;
  padding: 0;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  display: inline-flex;
  align-items: center;
  justify-content:center;
  height: 60px;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  color: #000;
}


.nav__link:hover {
  color: var(--blue);
}


.nav__link.is-active {
  color: var(--blue);
}


.nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--blue);
  bottom: 0;
}
